

body {
	background: url(noisy_grid.png) !important;
	padding: 0 !important;
}

.whitebg {
	background: white;
}

.right {
	float: right;
}

header {
	background: url(office.png);
	text-align: center;
	color: white;
	padding: 0.7em !important;
	color: #DEDEDE;
}

.subtitle {
	color: #D22;
}

section {
	padding-top: 4em !important;
}

.bottom {
	position: absolute;
	bottom: 0;
	width: 200%;
}
